<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    .hdr
    {
     position: fixed;
     background-color: black;
    }
     

    body
    {
     background-color: black;
     font-family: 'Poppins', sans-serif;
     color: #c8a47e;
    }

    </style>
</head>
<body>
    <center class="hdr">
        <h1 style="font-size: xx-large; font-family: 'Poppins', sans-serif; color: #c8a47e; font-weight: 600; text-align: center;">Charles Solutions</h1>
    </center>
    <br><br><br><br>
    <div style="margin: auto;">
        <h2>Sent Successfully! Thank you for booking with us. &#128522</h2>
    </div>
</body>
</html>